<div class="px-5 lg:px-16 2xl:px-64 py-8">
  <p class="font-bold text-lg">Nomination Form</p>
  <p class="pb-5">Please fill the form below</p>
  <form
    [formGroup]="nomineeForm"
    (submit)="submit()"
    class="border p-8 rounded grid-cols-1 lg:grid space-y-4 lg:space-y-0 lg:grid-cols-2 lg:gap-5"
  >
    <!-- Category -->
    <div>
      <label for="Category">Category</label>
      <select class="form-control" formControlName="category">
        <option value="null" disabled selected>Select Category</option>
        <option value="{{category.cat_id}}" *ngFor="let category of categories">{{ category.category }}</option>
      </select>
    </div>

    <!-- Contestant -->
    <div class="">
      <label for="contestant_name">Name of Nominee/Contestant</label>
      <input
        type="text"
        placeholder="eg. Samuel Borborbor"
        class="form-control"
        formControlName="name_of_nominee"
      />
    </div>

    <!-- Nominee phone -->
    <div class="flex flex-col">
      <label for="contestant_name"> Nominee Phone </label>
      <div class="form-control">
        <ngx-intl-tel-input
          [cssClass]="'outline-none'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Ghana"
          [maxLength]="'15'"
          [phoneValidation]="true"
          [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National"
          formControlName="nominee_phone"
        >
        </ngx-intl-tel-input>
      </div>
    </div>

    <!-- nickname/stage name -->
    <div class="">
      <label for="contestant_name">Nickname/Stage Name</label>
      <input type="text" placeholder="Cutie" class="form-control" formControlName="nickname" />
    </div>

    <!-- organization -->
    <div class="">
      <label for="contestant_name">Name of Institution/Organization</label>
      <input placeholder="GFA" type="text" class="form-control" formControlName="organization" />
    </div>

    <!-- Nominator -->
    <div class="">
      <label for="contestant_name">Name of Nominator</label>
      <input
        type="text"
        placeholder="Clarence Mensah"
        class="form-control"
        formControlName="name_of_nominator"
      />
    </div>

    <!-- Nominator phone -->
    <div class="flex flex-col">
      <label for="contestant_name"> Nominator Phone </label>
      <div class="form-control">
        <ngx-intl-tel-input
          [cssClass]="'outline-none'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Ghana"
          [maxLength]="'15'"
          [phoneValidation]="true"
          [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National"
          formControlName="nominator_phone"
        >
        </ngx-intl-tel-input>
      </div>
    </div>

    <!-- Country -->
    <div class="">
      <label for="contestant_name">Country</label>
      <input type="text" placeholder="Ghana" class="form-control" formControlName="country" />
    </div>

    <!-- Region -->
    <div class="">
      <label for="contestant_name">Region/State</label>
      <input placeholder="Accra" type="text" class="form-control" formControlName="region" />
    </div>

    <!-- Whatsapp -->
    <div class="">
      <label for="contestant_name">Whatsapp No.</label>
      <input placeholder="054 000 0000" type="tel" class="form-control" formControlName="whatsapp" />
    </div>

    <!-- reason for nomination -->
    <div class="col-span-2">
      <label for="reason">Reason for Nomination</label>
      <textarea
      placeholder="Reason for Nomination"
        class="form-control"
        rows="5"
        formControlName="reason"
      ></textarea>
    </div>

    <!-- Email -->
    <div class="">
      <label for="contestant_name">Email</label>
      <input placeholder="samuel@example.com" type="email" class="form-control" formControlName="email" />
    </div>

    <!-- location -->
    <div class="">
      <label for="contestant_name">Location</label>
      <input placeholder="Circle" type="text" class="form-control" formControlName="location" />
    </div>

    <!-- Link of proof -->
    <div class="">
      <label for="contestant_name"
        >Link of proof (Website or Social Media Page)</label
      >
      <input placeholder="www.example.com" type="text" class="form-control" formControlName="link_of_proof" />
    </div>

    <!-- Age -->
    <div class="">
      <label for="contestant_name">Age</label>
      <input placeholder="23" type="text" class="form-control" formControlName="age" />
    </div>

    <!-- DOB -->
    <div class="">
      <label for="contestant_name">Date of Birth</label>
      <input type="date" class="form-control" formControlName="dob" />
    </div>

    <!-- upload proof -->
    <div class="">
      <label for="contestant_name">Upload Proof (document/Image)</label>
      <input
        type="file"
        class="form-control"
        formControlName="document_or_image"
      />
    </div>

    <!-- picture upload -->
    <div class="">
      <label for="contestant_name">Upload Picture</label>
      <input type="file" class="form-control" formControlName="picture" />
    </div>

    <div class="flex flex-col items-end justify-end">
      <label for="contestant_name"></label>
      <button
        type="submit"
        class="hover:bg-blue-600 duration-150 bg-blue-500 w-32 h-12 rounded text-white"
      >
        Submit
      </button>
    </div>
  </form>
</div>
